<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <h1 class="display-3 text-center">Panneau de gestion</h1>
    <div class="row">
        <div class="col-12">
            <!--/*@thymesVar id="successMessage" type="java.lang.String"*/-->
            <div class="alert alert-success" role="alert" th:if="${successMessage}">
                <strong>Parfait! </strong><span th:utext="${successMessage}"></span>
            </div>
            <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
            <div class="alert alert-error" role="alert" th:if="${errorMessage}">
                <strong>Parfait! </strong><span th:utext="${errorMessage}"></span>
            </div>
        </div>

        <div class="col-10"><h3>Les activités</h3></div>
        <div class="col-2">
            <a th:href="@{/admin/newactivite}" class="btn btn-success btn-sm btn-block">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouvelle activité
            </a>
        </div>

        <table class="table table-striped table-hover table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th th:text="Nom"></th>
                <th th:text="Descrition"></th>
                <th th:text="Date"></th>
                <th th:text="Type"></th>
                <th sec:authorize="hasRole('ADMIN')" th:text="Opération"></th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="activites" type="java.util.List<be.aplacetolive.entity.Activite>"*/-->
            <tr th:each="activite, itrStatus : ${activites}">
                <td th:text="${itrStatus.index + 1}"></td>
                <td th:text="${activite.nom}"></td>
                <td th:text="${activite.description}"></td>
                <td th:text="${#temporals.format(activite.date, 'dd-MM-yyyy')}"></td>
                <td th:text="${activite.type}"></td>
                <td>
                    <a th:href="@{'/activites/' + ${activite.slug}}" class="btn btn-warning btn-sm">Détails</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-10"><h3>Les participants</h3></div>
        <div class="col-2">
            <button type="button" class="btn btn-success btn-sm btn-block" style="display: none">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau participant
            </button>
        </div>

        <table class="table table-striped table-hover table-sm">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th th:text="Nom"></th>
                    <th th:text="Prénom"></th>
                    <th th:text="Email"></th>
                    <th th:text="Type"></th>
                    <th th:text="Opération"></th>
                </tr>
            </thead>
            <tbody>
                <!--/*@thymesVar id="participants" type="java.util.List<be.aplacetolive.entity.User>"*/-->
                <tr th:each="participant, itrStatus : ${participants}">
                    <td th:text="${itrStatus.index + 1}"></td>
                    <td th:text="${participant.nom}"></td>
                    <td th:text="${participant.prenom}"></td>
                    <td th:text="${participant.email}"></td>
                    <td th:text="${participant.type}"></td>
                    <td>
                        <a th:href="@{/participants(username=${participant.slug})}" class="btn btn-primary btn-sm">Détails</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div><!-- /.container -->


<div th:replace="fragments/footer :: footer"/>

</body>
</html>