<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Activite </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <!--/*@thymesVar id="activite" type="be.aplacetolive.entity.Activite"*/-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <strong>Activité: </strong><span th:text="${activite.nom}"></span>
                </div>
                <div class="card-block">
                    <h4 class="card-title">Détails de l'activité</h4>
                    <dl class="row">
                        <dt class="col-4">Nom</dt>
                        <dd class="col-8" th:text="${activite.nom}"></dd>

                        <dt class="col-4">Description</dt>
                        <dd class="col-8" th:text="${activite.description}"></dd>

                        <dt class="col-4">Lieu</dt>
                        <dd class="col-8" th:text="${activite.lieu}"></dd>

                        <dt class="col-4">Date</dt>
                        <dd class="col-8" th:text="${#temporals.format(activite.date, 'dd-MM-yyyy')}"></dd>

                        <dt class="col-4">Type</dt>
                        <dd class="col-8" th:text="${activite.type}"></dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editActiviteModal">Modifier</button>
                    <!-- Modal -->
                    <div class="modal fade" id="editActiviteModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <form th:action="@{/activites/edit}" th:method="put" th:object="${activite}" role="form">
                                    <input type="hidden" th:field="*{id}" />
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modifier l'activité</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="nomId" class="col-2 col-form-label">Titre</label>
                                            <div class="col-10">
                                                <input class="form-control" type="text" id="nomId" th:field="*{nom}" th:required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="descrId" class="col-2 col-form-label">Description</label>
                                            <div class="col-10">
                                                <textarea class="form-control" type="text" id="descrId" th:field="*{description}" ></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="lieuId" class="col-2 col-form-label">Lieu</label>
                                            <div class="col-10">
                                                <input class="form-control" type="text" id="lieuId" th:field="*{lieu}" th:required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="typeId" class="col-2 col-form-label">Type</label>
                                            <div class="col-10">
                                                <select class="form-control custom-select" id="typeId"  th:field="*{type}">
                                                    <!--/*@thymesVar id="typesActivites" type="java.util.List<java.lang.String>"*/-->
                                                    <option th:each="typeActivite: ${typesActivites}"
                                                            th:value="${typeActivite}"
                                                            th:text="${#strings.capitalize(typeActivite.toLowerCase())}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="dateId" class="col-2 col-form-label">Date</label>
                                            <div class="col-10">
                                                <input class="form-control" type="date" id="dateId" th:field="*{date}" th:required="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="Fermer"></button>
                                        <button type="submit" class="btn btn-primary" th:text="Sauvegarder"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Les participants</h1>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th th:text="Nom"></th>
                    <th th:text="Prénom"></th>
                    <th th:text="Email"></th>
                    <th th:text="Type"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, status : ${activite.users}">
                    <td th:text="${status.index + 1}"></td>
                    <td th:text="${user.nom}"></td>
                    <td th:text="${user.prenom}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.type}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>