<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="centered-page">
        <h1>Les activités</h1>

        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th th:text="Nom"></th>
                <th th:text="Descrition"></th>
                <th th:text="Date"></th>
                <th th:text="Type"></th>
                <th sec:authorize="hasAuthority('ADMIN')" th:text="Opérations" th:colspan="2"></th>
            </tr>
            </thead>
            <tbody>
                <!--/*@thymesVar id="activites" type="java.util.List<be.aplacetolive.entity.Activite>"*/-->
                <tr th:each="activite : ${activites}">
                    <td th:text="${activite.nom}"></td>
                    <td th:text="${activite.description}"></td>
                    <td th:text="${#dates.format(activite.date, 'dd-MM-yyy')}"></td>
                    <td th:text="${activite.type}"></td>
                    <td sec:authorize="isAuthenticated() and not isAnonymous()">
                        <button class="btn btn-success btn-sm" type="button">Participer</button>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/activites/' + ${activite.slug}}" class="btn btn-warning btn-sm">Modifier</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div><!-- /.container -->


<div th:replace="fragments/footer :: footer"/>

</body>
</html>