<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="centered-page">
        <!--/*@thymesVar id="user" type="be.aplacetolive.entity.User"*/-->
        <h1>Profile de <span th:text="${user.nom}"></span></h1>

        <label for="emailId"></label>
        <p th:text="${user.email}" id="emailId"></p>
    </div>

</div><!-- /.container -->


<div th:replace="fragments/footer :: footer"/>

</body>
</html>