<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8"/>
        <meta nom="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta nom="description" content=""/>
        <meta nom="author" content=""/>

        <link th:rel="icon" th:href="@{/images/favicon.ico}"/>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet" media="all" type="text/css"/>

        <!-- Awesome Fonts CSS -->
        <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"
              rel="stylesheet" media="all" type="text/css"/>

        <!-- Custom styles for this template -->
        <link rel="stylesheet" th:href="@{/css/main.css}"/>

    </div>

</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" th:fragment="header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}">
        <img th:id="logo" th:src="@{/images/logo.png}" alt="A place to live Logo" class="d-inline-block align-top"/> A Place To Live
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/activites}">Activités</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-outline-warning" th:href="@{/admin}">Tableau de gestion</a>
            </li>
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
                    <!--<a class="dropdown-item" href="#">Action</a>-->
                    <!--<a class="dropdown-item" href="#">Another action</a>-->
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--</div>-->
            <!--</li>-->
        </ul>

        <div class="my-2 my-lg-0" th:id="user-menu">
            <span sec:authorize="isAuthenticated()">
                Bienvenu <a th:href="@{/currentprofile}" th:text="${#authentication.name}"></a>
                | Roles: <span sec:authentication="principal.authorities"></span>
                | <a th:href="@{/logout}" class="btn btn-outline-success my-2 my-sm-0">Se déconnecter</a>
            </span>
            <span sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="btn btn-outline-success my-2 my-sm-0">Se connecter</a>
            </span>
        </div>
    </div>
</nav>

</body>
</html>