<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <!--/*@thymesVar id="user" type="be.aplacetolive.entity.User"*/-->
    <h1>Profile de <span th:text="${user.nom}"></span></h1>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top img-fluid" th:src="@{images/unkown.jpg}" alt="Photo utilisateur">
                <div class="card-block">
                    <h4 class="card-title">Identification</h4>
                    <dl class="row">
                        <dt class="col-sm-3">Nom</dt>
                        <dd class="col-sm-9" th:text="${user.nom}"></dd>

                        <dt class="col-sm-3">Prénom</dt>
                        <dd class="col-sm-9" th:text="${user.prenom}"></dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9" th:text="${user.email}"></dd>

                        <dt class="col-sm-3">Type</dt>
                        <dd class="col-sm-9" th:text="${user.type}"></dd>
                    </dl>
                </div>

                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <div class="col-9">
            details here...
        </div>

    </div>

</div><!-- /.container -->


<div th:replace="fragments/footer :: footer"/>

</body>
</html>