<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <!--/*@thymesVar id="user" type="be.aplacetolive.entity.User"*/-->
    <h1 class="display-3 text-center">Profile de <span th:text="${user.nom}"></span></h1>
    <!--/*@thymesVar id="loggedInMsg" type="java.lang.String"*/-->
    <div class="alert alert-success" role="alert" th:if="${loggedInMsg}">
        <strong>Parfait! </strong><span th:utext="${loggedInMsg}"></span>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top img-fluid" th:src="@{/images/unkown.jpg}" alt="Photo utilisateur">
                <div class="card-block">
                    <h4 class="card-title">Identification</h4>
                    <dl class="row">
                        <dt class="col-sm-4">Nom</dt>
                        <dd class="col-sm-8" th:text="${user.nom}"></dd>

                        <dt class="col-sm-4">Prénom</dt>
                        <dd class="col-sm-8" th:text="${user.prenom}"></dd>

                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8" th:text="${user.email}"></dd>

                        <dt class="col-sm-4">Type</dt>
                        <dd class="col-sm-8" th:text="${user.type}"></dd>
                    </dl>
                </div>

                <div class="card-footer">
                    <button class="btn btn-success btn-block" data-toggle="modal"
                            data-target="#userProfileModalId" th:disabled="${#authentication.getName() ne user.email}">Modifier</button>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <!--/*@thymesVar id="successMessage" type="java.lang.String"*/-->
                    <div class="alert alert-success" role="alert" th:if="${successMessage}">
                        <strong>Parfait! </strong><span th:utext="${successMessage}"></span>
                    </div>
                    <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
                    <div class="alert alert-error" role="alert" th:if="${errorMessage}">
                        <strong>Parfait! </strong><span th:utext="${errorMessage}"></span>
                    </div>
                </div>

                <div class="col-12">
                    <h3>Les activités souscrites</h3>
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titre</th>
                            <th>Lieu</th>
                            <th>Date</th>
                            <th>Lien</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="activite, itrStat : ${user.activites}">
                            <td th:text="${itrStat.index + 1}"></td>
                            <td th:text="${activite.nom}"></td>
                            <th th:text="${activite.lieu}"></th>
                            <td th:text="${#temporals.format(activite.date, 'dd-MM-yyyy')}"></td>
                            <td>
                                <a th:href="@{'/activites/' + ${activite.slug}}" th:text="Détails" class="btn btn-sm btn-info"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="userProfileModalId" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/participants}" th:method="patch" th:object="${user}" role="form">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{slug}" />
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modifier le profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row" >
                            <label for="inputNom" class="col-2 col-form-label">Nom</label>
                            <div class="col-10">
                                <input type="text" th:field="*{nom}" id="inputNom" class="form-control" placeholder="Nom" required = "true" autofocus = "true"/>
                            </div>
                        </div>

                        <div class="form-group row" >
                            <label for="inputPrenom" class="col-2 col-form-label">Prénom</label>
                            <div class="col-10">
                                <input type="text" th:field="*{prenom}" id="inputPrenom" class="form-control" placeholder="Prénom" required = "false"/>
                            </div>
                        </div>

                        <div class="form-group row" >
                            <label for="inputTypeParticipant" class="col-2 col-form-label">Type</label>
                            <div class="col-10">
                                <!--/*@thymesVar id="typesParticipants" type="java.util.List<java.lang.String>"*/-->
                                <select class="custom-select" id="inputTypeParticipant"  th:field="*{type}">
                                    <option th:each="typeParticipant: ${typesParticipants}"
                                            th:value="${typeParticipant}"
                                            th:text="${#strings.capitalize(typeParticipant.toLowerCase())}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" >
                            <label for="inputEmail" class="col-2 col-form-label">Adresse email</label>
                            <div class="col-10">
                                <input type="email" th:field="*{email}" id="inputEmail" class="form-control" placeholder="Adresse email" required = "true"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div><!-- /.container -->


<div th:replace="fragments/footer :: footer"/>

</body>
</html>