<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="centered-page">
        <h1>A propos de "A PLACE TO LIVE"</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate eum excepturi harum id in laborum nam optio, quae, qui, quod quos reiciendis repudiandae sed sit. Illo ipsum praesentium quas!</p>
    </div>

</div><!-- /.container -->


<div th:replace="fragments/footer :: footer"/>

</body>
</html>