<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A Place To Live </title>
    <div th:replace="fragments/header :: header-css"/>
    <!-- Custom styles for this page -->
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <form class="form-signin" th:action="@{/login}" method="POST">
        <h2 class="form-signin-heading">Connectez-vous</h2>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Nom d'utilisateur ou mot de passe incorrect
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-info">
                Vous-êtes déconnectés!!
            </div>
        </div>
        <label for="inputEmail" class="sr-only">Adresse email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" th:placeholder="Email" required = "true" autofocus = "true"/>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required = "true"/>
        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
            <!--</label>-->
        <!--</div>-->
        <button class="btn btn-lg btn-primary btn-block" value="Login" type="submit">Se connecter</button>

        <hr/>

    </form>

    <a th:href="@{/register}" class="btn btn-lg btn-primary btn-block" th:id="registerLinkId">S'inscrire</a>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>